.red
{
    color: red;
}
.ded
{
    color: green;
}
.ced
{
    color: blue;
}
h2{
    color: brown;
}
div
{
    text-align: center;
    padding-left: 1px;
}
button
{
    padding: 10px 10px;
}